In [7]:
# Import dependencies
import db_credentials
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

ModuleNotFoundError: No module named 'db_credentials'

In [8]:
engine = create_engine(f'postgresql://postgres:{db_credentials.password}@127.0.0.1/EmployeeSQL')
connection = engine.connect()

NameError: name 'db_credentials' is not defined

In [ ]:
# Create salaries dataframe
salaries_df = pd.read_sql("SELECT * FROM salaries", connection)
salaries_df.head()

In [ ]:
# Create titles dataframe
titles_df = pd.read_sql("SELECT * FROM titles", connection)
titles_df.head()

In [ ]:
# Create employees dataframe
employees_df = pd.read_sql("SELECT * FROM employees", connection)
employees_df.head()

In [ ]:
# Merge dfs

# Change column emp_title_id to make suitable for merge
employees_df.rename(columns={'emp_title_id': 'emp_title'}, inplace=True)

# Merge employees and titles df
merged = pd.merge (employees_df, titles_df, how='inner', on='emp_title')
merged.head()

# Merge merged df and salaries df
merged_salaries = pd.merge(merged, salaries_df, how='inner', on='emp_no')
merged_salaries.head()

In [ ]:
# Create a histogram to visualize the most common salary ranges for employees
merged_salaries.hist(column='salary')
plt.title('Most common salary ranges for employees', fontsize=12)
plt.xlabel('Salary Range', fontsize=16)
plt.ylabel('Employees', fontsize=20)
plt.legend('Salary Range')
plt.show()
plt.savefig("Histogram_salaries_employees.png")

In [ ]:
# Count employees per title
merged_salaries['title'].value_counts()

In [ ]:
# Create a bar chart of average salary by title

# Create df with relevant columns
grouped_salaries = merged_salaries.groupby("title").mean()
barchart_df = grouped_salaries.drop(columns = 'emp_no')
barchart_df

In [ ]:
# barchart pandas
barchart_df.plot.bar()
plt.ylabel("Salaries")
plt.xlabel("Title")
plt.title("Average Salary by Title")
plt.show()
plt.savefig("average_salary_by_title.png")

In [ ]:
print(f"The histogram shows that in the total pool of employees, the people at lower/lowest salary range take up the largest amount of employees. This is generally as expected as the most junior people are the cheapest resources and the higher up in the hierarchy in a company, there's less resources taking up (more) senior role (pyramid business model.")

In [ ]:
print(f"The bar chart shows that staff and senior staff ahve the highest average salaries. This is not expected as staff generally have the lowest salaries being the most junior/less experienced. This could imply that the dataset is a fake dataset.")